[Unit]
Description=PPP over Serial link
After=network.target

[Service]
Exec=/usr/bin/pppd call gprs
Restart=on-failure

[Install]
WantedBy=multi-user.target