ListenAddress 127.0.0.1
Port 22
PermitRootLogin prohibit-password
PasswordAuthentication no
PubkeyAuthentication yes
PubkeyAcceptedKeyTypes ssh-ed25519
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
PermitUserRC no
StreamLocalBindMask 0111
Compression yes
LogLevel VERBOSE
ClientAliveInterval 180
ClientAliveCountMax 1
MaxAuthTries 1
TCPKeepAlive yes
MaxSessions 1
LoginGraceTime 1m
Banner /etc/pangio_banner
HostKey /etc/ssh/ssh_host_ed25519_key